<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.0-alpha1" targetFramework="wp8" userInstalled="true" />
  <package id="ExifLib.PCL" version="1.0.0" targetFramework="wp8" userInstalled="true" />
  <package id="Parse" version="1.4.1" targetFramework="wp8" userInstalled="true" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" userInstalled="true" />
  <package id="Xamarin.Forms" version="1.4.1.6349" targetFramework="wp8" userInstalled="true" />
  <package id="XLabs.Core" version="2.0.5575" targetFramework="wp8" userInstalled="true" />
  <package id="XLabs.Platform" version="2.0.5575" targetFramework="wp8" userInstalled="true" />
</packages>